{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <h1>Фауна мира</h1>
    <div id="block_filter">
        {% include 'include/filters.html' %}
    </div>
    <div id="block_content">
        {% include 'include/random_profiles.html' %}
        {% include 'include/top_profiles.html' %}
        {% include 'include/latest_articles.html' %}
    </div>
    <div id="block_user">
        {% include 'include/user/user.html' %}
    </div>
    {% include 'include/my_animals.html' %}
    {% include 'include/banner.html' %}
    {% include 'include/footer.html' %}
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
</body>
</html>